<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>{{ page.title }} - Computerized ElectroDermal Screening</title>

<meta name="author"
      content="Rob Park" />
<meta name="description"
      content="CED Screening, an alternative health assessment technique." />
<meta name="keywords"
      content="electrodermal,alternate,health,assessment,CEDS,EAV,screening,natural" />

<link rel="stylesheet"
      type="text/css"
      title="Stylesheet"
      href="/style.css" />
<link rev="made"
      title="Rob Park"
      href="mailto:rbpark@exolucere.ca" />

<style type="text/css">
a     { color:            #{{ page.color }}; }
.note { background-color: #{{ page.note  }}; }
</style>

</head>
<body>

<div id="title" style="background: url(/{{ page.background }})">
<h1>Computerized ElectroDermal Screening</h1>
<p>An Alternate Health Assessment Technique</p>
</div>

<div id="navcont">
<ul id="nav">
<li><a href="/">Main</a></li>
<li><a href="/history/">History</a></li>
<li><a href="/philosophy/">Philosophy</a></li>
<li><a href="/technique/">Technique</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/faq/" title="Frequently Asked Questions">FAQ</a></li>
<li><a href="mailto:l_snyder@telus.net">Contact</a></li>
<li><a href="/links/">Links</a></li>
</ul>
</div>

<div id="content">
{{ content }}</div>

<div id="footer">
Last update on {{ page.date | date: "%A, %B %e, %Y" }}
</div>

</body>
</html>
